<!DOCTYPE html>
<!-- Alles scripts MOETEN in de <body> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatz</title>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
<!--    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>-->
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>



</head>
<body>
<!--    <h1>Upload RAG Demo</h1>-->



    <div class="sidebar" id="sidebar">
        <div class="centered-title">
            <span id="sidebarText">Chatz</span>
        </div>

        <div class="info-room-container">
            <div class="name_of_user_container">
                 <span class="current_user_info_start">Naam</span>
                 <span id ="currentUser_info"></span>
            </div>
            <div class="name_of_room_container">
                 <span class="current_room_info_start">Kamer</span>
                 <span id="currentRoom_info"></span>
            </div>

        </div>
        <div class = "controls">
             <button id="buttonA" type="button" onclick="show_config_screen()">Niewe chat maken</button>
<!--              const messages = document.getElementById('messages');
        messages.innerHTML = ''; // Verwijdert alle <li>-elementen binnen de lijst-->
        </div>
        <div class="all_rooms_container">
            <ul id="chatsL"></ul>
        </div>


    </div>




    <div class="message_container">
<!--        TODO: Info moet boven bericht staan-->
            <ul id="messages">
               <div class="welcome_message_container">
                   <div class="welcome_message">
                       <span class="welcome_message_name">Welkom op</span>
                       <span class="name_color">Chatz</span>
                       <span class="welcome_message_name">!</span>
                   </div>

               </div>

            </ul>
    </div>

        <div class="chatInput">
<!--                         <input type="file" id="fileInput" multiple>-->
                         <div id="msgBox">
<!--                             <div id="messageUser" contenteditable="true"></div>-->
<!--                             <div id="messageContainer">-->
                                 <div id="chatt-input" contenteditable="true" data-placeholder="Begin typing..." spellcheck="false"></div>
                                 <button id="sendButton" onclick="SendMsg()">Stuur</button>


                         </div>

        </div>

        <div class="server_information">
            <div class="information_server_u_container">
                    <div class="people_online">
                         <span class="online_status">Online:</span>
                         <span id="user_who_are_online">FFF, FFF</span>
                    </div>
                    <div class="room_users_online">
                         <span class="online_in_room">In kamer:</span>
                         <span id="user_who_are_inroom"></span>

                    </div>
            </div>

        </div>

    <div id="configScreen" class="config-overlay hidden">
        <div class="config-container">
             <div class="bordered-container2">
                 <div class="namingElements">
                     <input type="text" id="collectionNaming" class="namingCol" placeholder="Kamer naam">
                 </div>

                 <button id="uploadButton" onclick="create_room()">Aanmaken</button>


            <span class="border-textConfig">Niewe kamer aanmaken</span>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
   <script src="static\\js\\script.js"></script>
   <script>socket.emit('goGetChatNames');</script>
</body>
</html>